/*  your css code here. If applicable */
.middle {
      margin: 0 auto;
    }

    .center {
      text-align: center;
    }

    #table-1 {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: black !important;
  border-collapse: collapse;
}
#table-1 td,
#table-1 th {
  border: 1px solid black !important;
}